.p {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

.center-text {
    text-align: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial;
    font-size: 20px;
  }

  .tabcontent {
    display: flex;
    align-items: center;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #b6b6b6;
    color: black;
    float: center;
    border-radius: 2px;
    border-color: black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 0%;
    font-size: 17px;
    width: 33%;
  }
  
  .tablink:hover {
    background-color: #4a4a4a;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  .arial {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 12px;
}

.center-iframe-container {
    display: flex;
    justify-content: center;
}

header {
    background: #6667ad;
    color: #010510;
    padding: 1rem 0;
    text-align: center;
}

.plot-container {
  text-align: center;
}